@use "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$Font-family-body;
  font-size: variables.$Font-size-body;
  background-color: variables.$Red;
  background-image: url("../images/bg-intro-mobile.png");
}
