@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

// Colors
$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);
$Green-2: hsla(154, 59%, 51%, 0.481);
$Green-3: hsla(154, 59%, 51%, 0.625);
$Blue: hsl(248, 32%, 49%);
$Blue-s: hsla(248, 32%, 49%, 0.5);

$Dark-Blue: hsl(249, 10%, 26%);
$Grayish-Blue: hsl(246, 25%, 77%);
$White: rgb(255, 255, 255);
$White-2: rgba(255, 255, 255, 0.689);
$Black: #000;
$Black-2: rgba(0, 0, 0, 0.12);
$Green: #37ca89;
// Fonts
$Font-size-body: 16px;
$Font-family-body: "Poppins", sans-serif;
